---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      esphome:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": [
                  "10.1.20.99/24",
                  "fd79:4c9c:b9c3:20::99/64"
                ]
              }]
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2025.11.4@sha256:46f787c447628af377c4c58c77dcdeb6989da4ee0fd2a8e923e53f5def9d2656
            env:
              TZ: Europe/London
              ESPHOME_DASHBOARD_USE_PING: true
              PLATFORMIO_CORE_DIR: .platformio
              PLATFORMIO_GLOBALLIB_DIR: .platformiolibs
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                memory: 250Mi
                cpu: 500m
              limits:
                memory: 2048Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        ports:
          http:
            port: &port 6052
    route:
      app:
        hostnames:
          - esphome.starstreak.net
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          esphome:
            app:
              - path: /config
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /cache
