---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      esphome:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": ["10.1.20.99/24"],
                "mac": "92:cf:d7:05:70:83"
              }]
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2025.5.2@sha256:9f9eb37228e05adb510940dd8809ec7f923c976d00e69bd44f9927bba8af2532
            env:
              ESPHOME_DASHBOARD_USE_PING: true
              PLATFORMIO_CORE_DIR: .platformio
              PLATFORMIO_GLOBALLIB_DIR: .platformiolibs
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                memory: 250Mi
                cpu: 500m
              limits:
                memory: 1000Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    service:
      app:
        controller: esphome
        ports:
          http:
            port: &port 6052
    route:
      app:
        hostnames:
          - esphome.p.lan.starstreak.net
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          esphome:
            app:
              - path: /config
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /cache
