---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kguardian
resources:
  - ./namespace.yaml
  - ./kguardian/ks.yaml
components:
  - ../../components/alerts
