---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-unifi
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/cluster-0/apps/networking/unifi"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: false
  dependsOn:
    - name: cluster-apps-democratic-csi-zfs-local-dataset
