---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname atuin
  namespace: flux-system
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/darkstar/apps/default/atuin/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false # no flux ks dependents
  postBuild:
    substitute:
      APP: *appname
  dependsOn:
    - name: crunchy-postgres-operator-cluster
    - name: crunchy-postgres-operator-secretstore
