---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-system-upgrade-controller
  namespace: flux-system
spec:
  path: ./clusters/compute/k8s/apps/system-upgrade/system-upgrade-controller/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  interval: 60m
  timeout: 5m
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-system-upgrade-controller-plans
  namespace: flux-system
spec:
  dependsOn:
    - name: cluster-apps-system-upgrade-controller
  path: ./clusters/compute/k8s/apps/system-upgrade/system-upgrade-controller/plans
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: false
  interval: 60m
  timeout: 5m
