---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-webhook-token
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: github-webhook-token-secret
    template:
      data:
        token: "{{ .flux_webhook_token }}"
  dataFrom:
    - extract:
        key: GITHUB
