---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
resources:
  - ./namespace.yaml
  - ./esphome/ks.yaml
  - ./frigate/ks.yaml
  - ./home-assistant/ks.yaml
  - ./zigbee2mqtt/ks.yaml
components:
  - ../../components/alerts
