---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/ocirepository-source-v1beta2.json
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: OCIRepository
metadata:
  name: node-exporter
spec:
  interval: 10m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 4.45.3
  url: oci://ghcr.io/prometheus-community/charts/prometheus-node-exporter
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: node-exporter
  values:
    fullnameOverride: node-exporter
    image:
      registry: quay.io
      repository: prometheus/node-exporter
    # Set true to grab host network info
    hostNetwork: true
    prometheus:
      monitor:
        enabled: true
        jobLabel: app.kubernetes.io/instance
        relabelings:
          # replaces other node identifiers with hostname
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: kubernetes_node
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: nodename
          - action: replace
            regex: (.*)
            replacement: $1.darkstar:9100
            sourceLabels:
              - kubernetes_node
            targetLabel: instance
    resources:
      requests:
        cpu: 23m
        memory: 64M
      limits:
        memory: 64M
