---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: node-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-node-exporter
      version: 4.44.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
      interval: 30m
  values:
    fullnameOverride: node-exporter
    image:
      registry: quay.io
      repository: prometheus/node-exporter
    # Set true to grab host network info
    hostNetwork: true
    prometheus:
      monitor:
        enabled: true
        jobLabel: app.kubernetes.io/instance
        relabelings:
          # replaces other node identifiers with hostname
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: kubernetes_node
          - action: replace
            regex: (.*)
            replacement: $1
            sourceLabels:
              - __meta_kubernetes_pod_node_name
            targetLabel: nodename
          - action: replace
            regex: (.*)
            replacement: $1.darkstar:9100
            sourceLabels:
              - kubernetes_node
            targetLabel: instance
    resources:
      requests:
        cpu: 23m
        memory: 64M
      limits:
        memory: 64M
