export KUBECONFIG=$PWD/kubernetes/cluster-0/kubeconfig
export TALOSCONFIG=$PWD/infrastructure/talos/clusterconfig/talosconfig
export SOPS_AGE_KEY_FILE=$(expand_path $HOME/.config/sops/age/personal-keys.txt)
