export KUBECONFIG=$PWD/kubernetes/darkstar/kubeconfig
export SOPS_AGE_KEY_FILE=$(expand_path $HOME/.config/sops/age/personal-keys.txt)
export TALOSCONFIG=$PWD/infrastructure/darkstar/talos/clusterconfig/talosconfig

export VIRTUAL_ENV="$(expand_path ./.venv)"
export ANSIBLE_COLLECTIONS_PATH=$(expand_path ./.venv/galaxy)
export ANSIBLE_ROLES_PATH=$(expand_path ./.venv/galaxy/ansible_roles)
export ANSIBLE_VARS_ENABLED="host_group_vars,community.sops.sops"
PATH_add "$(expand_path ./.venv/bin)"
