[settings]
pipx_uvx = true

[env]
# Directory paths
ROOT_DIR = "{{config_root}}"
# File paths
KUBECONFIG            = "{{config_root}}/kubernetes/darkstar/kubeconfig"
MINIJINJA_CONFIG_FILE = "{{config_root}}/.github/.minijinja.toml"
TALOSCONFIG           = "{{config_root}}/infrastructure/talos/darkstar/clusterconfig/talosconfig"
# Ansible
VIRTUAL_ENV              = "{{config_root}}/.venv"
ANSIBLE_COLLECTIONS_PATH = "{{config_root}}/.venv/galaxy"
ANSIBLE_ROLES_PATH       = "{{config_root}}/.venv/galaxy/ansible_roles"
ANSIBLE_VARS_ENABLED     = "host_group_vars"

[tools]
ansible-core               = '2.18.7'
"github:DopplerHQ/cli"     = "3.75.1"
flux2                      = '2.7.5'
helm                       = '4.0.1'
helmfile                   = '1.2.2'
jq                         = '1.8.1'
kubectl                    = '1.34.2'
kustomize                  = '5.8.0'
"aqua:mitsuhiko/minijinja" = '2.13.0'
talhelper                  = '3.0.41'
talosctl                   = '1.11.5'
task                       = '3.44.0'
uv                         = '0.9.16'
