[defaults]
inventory = infrastructure/ansible/inventory/hosts.yml
roles_path = infrastructure/ansible/roles
vars_plugins_enabled = community.sops.sops
host_key_checking = False
stdout_callback = ansible.builtin.default
bin_ansible_callbacks = True
deprecation_warnings = False

[ansible.builtin.default]
result_format = yaml

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes