---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: radarr
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: radarr-secret
    creationPolicy: Owner
  data:
    - secretKey: RADARR__AUTH__APIKEY
      remoteRef:
        key: RADARR_AUTH_APIKEY
