---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: slskd
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      slskd:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          coredns:
            image:
              repository: coredns/coredns
              tag: 1.13.2
            args:
              - -conf
              - /etc/coredns/Corefile
            restartPolicy: Always
          gluetun:
            dependsOn:
              - coredns
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.3
            env:
              DOT: "off"
              DNS_ADDRESS: "127.0.0.2"
              VPN_SERVICE_PROVIDER: custom
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
              WIREGUARD_ENDPOINT_PORT: 51820
              FIREWALL_INPUT_PORTS: "50300,9999,80"
              HEALTH_SERVER_ADDRESS: ":9999"
              FIREWALL_OUTBOUND_SUBNETS: 10.96.0.0/12,10.244.0.0/16 # Allow access to k8s subnets
            envFrom:
              - secretRef:
                  name: slskd-secret
            lifecycle:
              postStart:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - (ip rule del table 50300; ip -6 rule del table 50300) || true
            resources:
              limits:
                squat.ai/tun: "1"
            restartPolicy: Always
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                add:
                  - NET_ADMIN
        containers:
          app:
            image:
              repository: ghcr.io/slskd/slskd
              tag: 0.24.1@sha256:e3635858d9614a2fb811601afca706dbf97a6838b849905c27294cbce71be268
            env:
              DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
              TZ: Europe/London
              SLSKD_APP_DIR: /config
              SLSKD_HTTP_PORT: &port 80
              SLSKD_NO_AUTH: true
              SLSKD_NO_HTTPS: true
              SLSKD_NO_VERSION_CHECK: true
              SLSKD_SLSK_LISTEN_PORT: 50300
            envFrom:
              - secretRef:
                  name: slskd-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              runAsNonRoot: true
              runAsUser: 2000
              runAsGroup: 2000
              capabilities:
                drop:
                  - ALL
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - slskd.starstreak.net
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    configMaps:
      config:
        data:
          slskd.yml: |-
            directories:
              downloads: /media/.downloads/soulseek/complete
              incomplete: /media/.downloads/soulseek/incomplete
            metrics:
              enabled: true
              url: /metrics
              authentication:
                disabled: true
            permissions:
              file:
                mode: 664
            shares:
              directories:
                - /media/.downloads/soulseek/shared
              filters:
                - \.ini$
                - Thumbs.db$
                - \.DS_Store$
    persistence:
      config:
        existingClaim: slskd-config
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/slskd.yml
            subPath: slskd.yml
      coredns:
        type: configMap
        name: slskd-coredns
        advancedMounts:
          slskd:
            coredns:
              - path: /etc/coredns/Corefile
                subPath: Corefile
                readOnly: true
      media:
        type: nfs
        server: 10.1.10.10
        path: /mnt/zstore/media
        globalMounts:
          - path: /media/.downloads/soulseek
            subPath: .downloads/soulseek
          - path: /media/music
            subPath: music
      tmp:
        type: emptyDir
