---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname zigbee2mqtt
  namespace: flux-system
spec:
  targetNamespace: home-automation
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/darkstar/apps/home-automation/zigbee2mqtt/app"
  prune: false #TODO: revert to false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false # no flux ks dependents
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "568"
      APP_GID: "568"
      VOLSYNC_CLAIM: zigbee2mqtt-data
  dependsOn:
    - name: topolvm
    - name: volsync
    - name: mosquitto
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname zigbee2mqtt-exporter
  namespace: flux-system
spec:
  targetNamespace: home-automation
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/darkstar/apps/home-automation/zigbee2mqtt/exporter"
  prune: false #TODO: revert to false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false # no flux ks dependents
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "568"
      APP_GID: "568"
  dependsOn:
    - name: zigbee2mqtt
    - name: mosquitto
