---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname plex
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/keda/nas-nfs-scaler
    - ../../../../components/gpu
    - ../../../../components/volsync
  interval: 10m
  path: "./kubernetes/darkstar/apps/media/plex/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
    namespace: flux-system
  wait: true
  postBuild:
    substitute:
      APP: *appname
      GATUS_PATH: /identity
      VOLSYNC_CLAIM: plex-config
      VOLSYNC_CAPACITY: 50Gi
  dependsOn:
    - name: topolvm
      namespace: storage
    - name: volsync
      namespace: storage
    - name: intel-gpu-resource-driver
      namespace: system
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname plex-image-cleanup
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/darkstar/apps/media/plex/plex-image-cleanup"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
    namespace: flux-system
  wait: false
  postBuild:
    substitute:
      APP: *appname
  dependsOn:
    - name: plex
      namespace: *namespace
