---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: {{ ENV.SOPS_AGE_KEY }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: infisical-secret
  namespace: external-secrets
stringData:
  client_id: {{ ENV.INFISICAL_CLIENT_ID }}
  client_token: {{ ENV.INFISICAL_AUTH_TOKEN }}
