---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-kopia-cronjobs
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/cluster-0/apps/system/kopia-cronjobs/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
