---
kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
resources:
  - ./certificate.yaml
  - ./backendtlspolicy.yaml
  - ./helm-release.yaml
  # PVC and volsync templates
  - ../../../storage/volsync/templates
