---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app zigbee2mqtt
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      zigbee2mqtt:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/koenkk/zigbee2mqtt
              tag: 2.3.0@sha256:42de8c55dc578a8404a18c43aeb2b7c75be7988179abe9a8195d99a9e7ebb917
            env:
              ZIGBEE2MQTT_CONFIG_ADVANCED_CHANNEL: "20"
              ZIGBEE2MQTT_CONFIG_ADVANCED_EXT_PAN_ID: "[221, 221, 221, 221, 221, 221, 221, 221]"
              ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN: ISO_8601
              ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_LEVEL: info
              ZIGBEE2MQTT_CONFIG_ADVANCED_LOG_OUTPUT: '["console"]'
              ZIGBEE2MQTT_CONFIG_ADVANCED_NETWORK_KEY: "[101, 61, 57, 32, 44, 230, 24, 201, 53, 5, 246, 32, 50, 84, 44, 159]"
              ZIGBEE2MQTT_CONFIG_ADVANCED_PAN_ID: "6754"
              ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_RETAIN: "true"
              ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_TEMPERATURE_PRECISION: "1"
              ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_HUMIDITY_PRECISION: "0"
              ZIGBEE2MQTT_CONFIG_DEVICE_OPTIONS_PRESSURE_PRECISION: "0"
              ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE: "60"
              ZIGBEE2MQTT_CONFIG_MQTT_SERVER: "mqtt://mosquitto.database.svc.cluster.local:1883"
              ZIGBEE2MQTT_CONFIG_MQTT_VERSION: 5
              ZIGBEE2MQTT_CONFIG_PERMIT_JOIN: "false"
              ZIGBEE2MQTT_CONFIG_SERIAL_PORT: "tcp://10.1.20.101:6638"
              ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: "zstack"
              ZIGBEE2MQTT_DATA: /data
            #            envFrom:
            #              - secretRef:
            #                  name: zigbee2mqtt-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
                add:
                  - NET_BIND_SERVICE
          codeserver:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.100.2@sha256:0c31654f1125c3a685a42ed1f2946573f5ebaaf016c5bc0640c72f9f571267e0
              pullPolicy: IfNotPresent
            env:
              HASS_SERVER: http://localhost:8123
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /data/.vscode
              - --extensions-dir
              - /data/.vscode
              - --port
              - "12321"
              - /data
    service:
      app:
        controller: zigbee2mqtt
        ports:
          http:
            port: &port 8080
            primary: true
          metrics:
            enabled: true
            port: 9000
          code-server:
            enabled: true
            port: &code-server-port 12321
    route:
      app:
        hostnames:
          - zigbee2mqtt.p.lan.starstreak.net
        parentRefs:
          - name: internal
            namespace: networking
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /code/
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
              - name: *app
                port: *code-server-port
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /data
      tmp:
        type: emptyDir
