---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-cloudflare
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/darkstar/apps/networking/external-dns/cloudflare"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns-adguard
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/darkstar/apps/networking/external-dns/adguard"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
