# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname ignition-backend
  namespace: &namespace ignition
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/volsync
  interval: 10m
  path: ./kubernetes/darkstar/apps/ignition/backend/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
    namespace: flux-system
  wait: false
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CLAIM: ignition-config
#  dependsOn:
#    - name: crunchy-postgres-ignition
