---
apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: cloudflared-tunnel
spec:
  endpoints:
    - dnsName: ingress.starstreak.net
      recordType: CNAME
      targets: ["d11b1c5a-a434-4e35-9866-4110deb8e507.cfargotunnel.com"]
