---
services:
  gluetun:
    image: qmcgaw/gluetun:v3.40.0
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8082:8082/tcp # qb (vuetorrent) web
      - 6881:6881
      - 6881:6881/udp
    volumes:
      - "/opt/docker/downloads/gluetun:/gluetun"
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
      # DNS
      - DNS_ADDRESS={{ GLUETUN_VPN_DNS }}
      # Firewall
      - FIREWALL_OUTBOUND_SUBNETS=10.1.10.0/24
      # Wireguard
      - WIREGUARD_PRIVATE_KEY={{ GLUETUN_VPN_KEY }}
      - WIREGUARD_PUBLIC_KEY={{ GLUETUN_VPN_PUBLIC_KEY }}
      - WIREGUARD_ADDRESSES={{ GLUETUN_VPN_ADDRESSES }}
      - WIREGUARD_ENDPOINT_IP={{ GLUETUN_VPN_ENDPOINT_IP }}
      - WIREGUARD_ENDPOINT_PORT={{ GLUETUN_VPN_ENDPOINT_PORT }}
      # Timezone for accurate log times
      - TZ=Europe/London
      # Other
      - PUBLICIP_PERIOD=12h
      - VERSION_INFORMATION=on
      - UPDATER_PERIOD=24h
    restart: unless-stopped

  qbittorrent:
    image: quay.io/linuxserver.io/qbittorrent:5.1.2
    container_name: qbittorrent
    environment:
      - PUID=2000
      - PGID=2000
      - TZ=Europe/London
      - WEBUI_PORT=8080
    network_mode: service:gluetun
    volumes:
      - "/opt/docker/qbittorrent/config:/config"
      - /mnt/zstore/media/.downloads:/downloads
    restart: unless-stopped

  vuetorrent-backend:
    # build: .
    image: ghcr.io/vuetorrent/vuetorrent-backend:latest
    container_name: vuetorrent-backend
    restart: unless-stopped
    network_mode: service:gluetun
    environment:
      # Backend port can't match qbit one because of the network_mode
      # You'll have to remove "Host header validation" in qbit settings > WebUI
      - PORT=8082

      # Here we can use localhost because both qbit and backend container are on the same docker host (network_mode)
      - QBIT_BASE=http://localhost:8080
      # Use "dev" for nightly releases
      - RELEASE_TYPE=stable
      # Optional, refer to the node-schedule package for compatible syntax
      - UPDATE_VT_CRON=0 * * * *

      # Define this if using self-signed certificates on qBittorrent
      # - NODE_EXTRA_CA_CERTS=/config/ssl/cert.pem
      # You can also disable SSL verification (not recommended)
      # - USE_INSECURE_SSL=true

      # Only enable if backend container is behind a proxy server which already add x-forward headers
      # - SKIP_X_FORWARD_HEADERS=true
      # Create a Github PAT with your account to increase API rate limit, fine-grained with only public repo access is enough
      # - GITHUB_AUTH=${GITHUB_AUTH}

      # Log all received requests
      # - LOG_REQUESTS=true

      # If you want HTTPS, define the following variables with respective paths
      # - SSL_CERT_PATH=/config/ssl/cert.pem
      # - SSL_KEY_PATH=/config/ssl/key.pem
      # Use these instead for passing the value directly
      # - SSL_CERT=*****
      # - SSL_KEY=*****
    volumes:
      - "/opt/docker/qbittorrent/config/vuetorrent:/config"
