# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname ksi-vm-sim01
  namespace: flux-system
spec:
  targetNamespace: vms
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/darkstar/kvm/vms/windows/ksi-vm-sim01"
  prune: false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false
  dependsOn:
    - name: democratic-csi-zfs-local-dataset
    - name: kubevirt
    #    - name: vms-common
    - name: volsync
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "107"
      APP_GID: "107"
      VOLSYNC_CLAIM: ksi-vm-sim01-c-drive
      VOLSYNC_CAPACITY: 150Gi
