---
version: "3.8"

services:
  gluetun:
    image: docker.io/qmcgaw/gluetun:v3.30.0
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
      - 6789:6789/tcp # nzbget web
      - 8080:8080/tcp # qbittorrent web
    volumes:
      - {{ docker_base_dir }}/downloads/gluetun:/gluetun
    environment:
      ***REMOVED***
      - VPN_SERVICE_PROVIDER={{ GLUETUN_VPN_PROVIDER }}
      - VPN_TYPE=wireguard
      # DNS
      - DNS_ADDRESS={{ GLUETUN_VPN_DNS }}
      # Firewall
      - FIREWALL_VPN_INPUT_PORTS={{ GLUETUN_VPN_INPUT_PORTS }}
      - FIREWALL_OUTBOUND_SUBNETS=10.1.10.0/24
      # Wireguard
      - WIREGUARD_PRIVATE_KEY={{ GLUETUN_VPN_KEY }}
      - WIREGUARD_ADDRESSES={{ GLUETUN_VPN_ADDRESSES }}
      - SERVER_HOSTNAMES={{ GLUETUN_VPN_HOSTNAMES }}
      - VPN_ENDPOINT_PORT={{ GLUETUN_VPN_ENDPOINT_PORT }}
      # Timezone for accurate log times
      - TZ=Europe/London
      # Other
      - PUBLICIP_PERIOD=12h
      - VERSION_INFORMATION=on
      - UPDATER_PERIOD=24h
    restart: unless-stopped

  nzbget:
    image: docker.io/linuxserver/nzbget:21.1.20220721
    container_name: nzbget
    environment:
      - PUID=568
      - PGID=568
      - TZ=Europe/London
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:nzbget
      - TP_COMMUNITY_THEME=true
      - TP_THEME=onedark
    network_mode: "service:gluetun"
    volumes:
      - {{ docker_base_dir }}/downloads/nzbget:/config
      - /mnt/zstore/media/.downloads:/downloads
    restart: unless-stopped

  qbittorrent:
    image: docker.io/linuxserver/qbittorrent:4.4.3
    container_name: qbittorrent
    environment:
      - PUID=568
      - PGID=568
      - TZ=Europe/London
      - WEBUI_PORT=8080
      - DOCKER_MODS=ghcr.io/gilbn/theme.park:qbittorrent
      - TP_COMMUNITY_THEME=true
      - TP_THEME=onedark
    network_mode: "service:gluetun"
    volumes:
      - {{ docker_base_dir }}/downloads/qbittorrent:/config
      - /mnt/zstore/media/.downloads:/downloads
    restart: unless-stopped
