---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ollama
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  values:
    controllers:
      ollama:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/ollama/ollama
              tag: 0.4.5
            env:
              - name: OLLAMA_HOST
                value: 0.0.0.0
              - name: OLLAMA_ORIGINS
                value: "*"
              - name: OLLAMA_MODELS
                value: "/models"
              - name: OLLAMA_KEEP_ALIVE
                value: "24h"
            resources:
              requests:
                cpu: 200m
                memory: 2Gi
              limits:
                memory: 4Gi
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: false
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
    service:
      app:
        controller: ollama
        ports:
          http:
            port: 11434
    persistence:
      config:
        enabled: true
        existingClaim: ollama-config
        globalMounts:
          - path: /root/.ollama
