---
# Controlplane-role shared layer. Merged on top of cluster.yaml.j2.
machine:
  type: controlplane
cluster:
  ca:
    crt: "{{ ENV.K8SCERT }}"
    key: "{{ ENV.K8SKEY }}"
  aggregatorCA:
    crt: "{{ ENV.K8SAGGCERT }}"
    key: "{{ ENV.K8SAGGKEY }}"
  serviceAccount:
    key: "{{ ENV.K8SSAKEY }}"
  etcd:
    ca:
      crt: "{{ ENV.ETCDCERT }}"
      key: "{{ ENV.ETCDKEY }}"
---
apiVersion: v1alpha1
kind: KubeAPIServerConfig
image: registry.k8s.io/kube-apiserver:{{ kubernetes_version }}
extraArgs:
  enable-aggregator-routing: "true"
  feature-gates: MutatingAdmissionPolicy=true,ResourceHealthStatus=true,HPAScaleToZero=true
  runtime-config: admissionregistration.k8s.io/v1beta1=true
certExtraSANs:
  - darkstar.lan.starstreak.net
  - 127.0.0.1
---
apiVersion: v1alpha1
kind: KubeAuditPolicyConfig
configuration:
  apiVersion: audit.k8s.io/v1
  kind: Policy
  rules:
    - level: Metadata
---
apiVersion: v1alpha1
kind: KubeControllerManagerConfig
image: registry.k8s.io/kube-controller-manager:{{ kubernetes_version }}
extraArgs:
  bind-address: 0.0.0.0
  feature-gates: HPAScaleToZero=true
---
apiVersion: v1alpha1
kind: KubeSchedulerConfig
image: registry.k8s.io/kube-scheduler:{{ kubernetes_version }}
extraArgs:
  bind-address: 0.0.0.0
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
image: registry.k8s.io/kube-proxy:{{ kubernetes_version }}
---
apiVersion: v1alpha1
kind: KubeCoreDNSConfig
enabled: false
