---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
spec:
  interval: 30m
  chart:
    spec:
      chart: snapshot-controller
      version: 3.0.6
      sourceRef:
        kind: HelmRepository
        name: piraeus-charts
        namespace: flux-system
      interval: 30m
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    controller:
      replicaCount: 1
      serviceMonitor:
        create: true
      volumeSnapshotClasses:
        - name: zfs-dataset-snap
          driver: org.democratic-csi.zfs-local-dataset
          annotations:
            snapshot.storage.kubernetes.io/is-default-class: "true"
          deletionPolicy: Delete
        - name: zfs-zvol-snap
          driver: org.democratic-csi.zfs-local-zvol
          deletionPolicy: Delete
    webhook:
      enabled: true
      tls:
        certManagerIssuerRef:
          name: snapshot-controller-webhook-ca
          kind: Issuer
