---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns-adguard
spec:
  interval: 1h
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns-charts
        namespace: flux-system
      interval: 1h
  values:
    fullnameOverride: external-dns-adguard
    podAnnotations:
      secret.reloader.stakater.com/reload: adguard-dns-secret
    policy: sync
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v11.0.1@sha256:632b994809f0f906ab4414b337b15ac4d0f5515f7a5de8bfbb5da29ccb6526ee
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        env:
          - name: LOG_LEVEL
            value: debug
          - name: ADGUARD_URL
            valueFrom:
              secretKeyRef:
                name: adguard-dns-secret
                key: ADGUARD_URL
          - name: ADGUARD_USER
            valueFrom:
              secretKeyRef:
                name: adguard-dns-secret
                key: ADGUARD_USER
          - name: ADGUARD_PASSWORD
            valueFrom:
              secretKeyRef:
                name: adguard-dns-secret
                key: ADGUARD_PASSWORD
          - name: DRY_RUN
            value: "false"
    registry: txt
    sources:
      - gateway-tlsroute
      - gateway-httproute
      - service
    triggerLoopOnEvent: true
    txtOwnerId: default
    txtPrefix: k8s.
