apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./httproute.yaml
commonLabels:
  app.kubernetes.io/name: ignition
  app.kubernetes.io/instance: ignition
