---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: home-assistant
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: home-assistant-secret
    creationPolicy: Owner
    template:
      data:
        HASS_LATITUDE: "{{ .latitude }}"
        HASS_LONGITUDE: "{{ .longitude }}"
        HASS_ELEVATION: "{{ .elevation }}"
        HASS_HIVE_USERNAME: "{{ .hive_user }}"
        HASS_HIVE_PASSWORD: "{{ .hive_pass }}"
        HASS_LG_OLED_MAC: "{{ .lg_oled_mac }}"
        HASS_ALEXA_CLIENT_ID: "{{ .alexa_client_id }}"
        HASS_ALEXA_CLIENT_SECRET: "{{ .alexa_client_secret }}"
  dataFrom:
    - extract:
        key: HASS
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: home-assistant-ai
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: home-assistant-ai-secret
    creationPolicy: Owner
    template:
      data:
        STT_OPENAI_KEY: "{{ .openai_voice_key }}"
        TTS_OPENAI_KEY: "{{ .openai_voice_key }}"
        AZURE_SUBSCRIPTION_KEY: "{{ .azure_voice_key }}"
        AZURE_SERVICE_REGION: "{{ .azure_service_region }}"
  dataFrom:
    - extract:
        key: OPENAI
      rewrite:
        - regexp:
            source: "(.*)"
            target: "openai_$1"
    - extract:
        key: AZURE
      rewrite:
        - regexp:
            source: "(.*)"
            target: "azure_$1"
