---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"multus-iot",
                "namespace": "networking",
                "ips": [
                  "10.1.20.33/24",
                  "fd79:4c9c:b9c3:20::33/64"
                ]
              }]
          securityContext:
            runAsNonRoot: true
            runAsUser: 2000
            runAsGroup: 2000
            fsGroup: 2000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile:
              type: RuntimeDefault
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2025.11.2@sha256:ff7eb7c296bb514704804a6d68d67e6858edb4366ee38d1c3089e837230a9172
            env:
              TZ: Europe/London
              VENV_FOLDER: /venv
              # HASS_TRUSTED_PROXIES same as the cluster CIDR address range
              HASS_TRUSTED_PROXIES: 10.244.0.0/16
            envFrom:
              - secretRef:
                  name: home-assistant-secret
            resources:
              requests:
                cpu: 126m
                memory: 512M
              limits:
                memory: 3Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          matter-hub:
            image:
              repository: ghcr.io/t0bst4r/home-assistant-matter-hub
              tag: 3.0.1@sha256:7d61541d0bb2137def4d8384e0f9b3b26f0e572e1e1d3e98c1c5ee7cb85a4621
            env:
              HAMH_STORAGE_LOCATION: /config/matter-hub
              HAMH_HOME_ASSISTANT_URL: http://localhost:8123/
              HAMH_LOG_LEVEL: info
              HAMH_HTTP_PORT: "8482"
            envFrom:
              - secretRef:
                  name: home-assistant-matter-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          wyoming-proxy-azure-stt:
            image:
              repository: ghcr.io/hugobloem/wyoming-microsoft-stt-noha
              tag: 1.3.4@sha256:6334ba737b632662f041be9e0429503c3531fc3ef4dbe8a49d75966de49be4ec
            args:
              - --language=en-GB
              - --uri=tcp://0.0.0.0:10301
            env:
              AZURE_SERVICE_REGION: uksouth
            envFrom:
              - secretRef:
                  name: home-assistant-ai-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.105.1@sha256:2d48970bd2084aa34a522d772b6a437981ea80407465b3bf7958553985c570e1
              pullPolicy: IfNotPresent
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.vscode
              - --extensions-dir
              - /config/.vscode
              - --port
              - "12321"
              - /config
            env:
              HASS_SERVER: http://localhost:8123
    service:
      app:
        annotations:
          lbipam.cilium.io/ips: 10.1.10.33
        primary: true
        sessionAffinity: ClientIP
        type: LoadBalancer
        ports:
          http:
            port: &port 8123
      code-server:
        ports:
          code-server:
            port: &code-server-port 12321
      matter-hub:
        ports:
          matter-hub:
            port: &matter-port 8482
    route:
      app:
        hostnames:
          - hass.starstreak.net
        parentRefs:
          - name: envoy-internal
            namespace: networking
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /code/
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
              - identifier: code-server
                port: *code-server-port
          - matches:
              - path:
                  type: PathPrefix
                  value: /matter/
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  add:
                    - name: "x-ingress-path"
                      value: "matter"
            backendRefs:
              - identifier: matter-hub
                port: *matter-port
          - backendRefs:
              - identifier: app
                port: *port
      app-ext:
        hostnames:
          - hass.starstreak.net
        parentRefs:
          - name: envoy-external
            namespace: networking
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          home-assistant:
            app:
              - path: /config
            code-server:
              - path: /config
            matter-hub:
              - path: /config
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      hass-cache:
        existingClaim: hass-cache
        advancedMounts:
          home-assistant:
            app:
              - path: /venv
                subPath: hass-venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /tmp
                subPath: hass-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
