---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.0.1/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsNonRoot: true
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile:
              type: RuntimeDefault
        containers:
          app:
            image:
              repository: ghcr.io/onedr0p/home-assistant
              tag: 2025.2.1@sha256:71b0008a018e067fb81608c0e75a96230eddf49ea6de2e5a0b2cdb254676c896
            envFrom:
              - secretRef:
                  name: home-assistant
            env:
              VENV_FOLDER: /venv
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 126m
                memory: 512M
              limits:
                memory: 2048M
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          whisper:
            image:
              repository: docker.io/rhasspy/wyoming-whisper
              tag: 2.4.0@sha256:2687f79715734606f856fc4478351ce91a76bdaf6899086bcb837eb9ac7cddb8
            args:
              - --model
              - "small-int8"
              - --language
              - "en"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
          piper:
            image:
              repository: docker.io/rhasspy/wyoming-piper
              tag: 1.5.0@sha256:b6bf208855f26168790ed336ad16576b2fb290f31b51fb98aca496a45561516f
            args:
              - --voice
              - "en_GB-jenny_dioco-medium"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
          codeserver:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.96.4@sha256:f93810f7f6636b3af3b1a750faf612349cddb89fbb6d28d69123a214fc75ee9e
              pullPolicy: IfNotPresent
            env:
              HASS_SERVER: http://localhost:8123
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.vscode
              - --extensions-dir
              - /config/.vscode
              - --port
              - "12321"
              - /config
    service:
      app:
        controller: home-assistant
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: ${SVC_LB_HASS}
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: 8123
      whisper:
        controller: home-assistant
        ports:
          whisper:
            port: 10300
      piper:
        controller: home-assistant
        ports:
          piper:
            port: 10200
      codeserver:
        controller: home-assistant
        ports:
          http:
            port: 12321
    ingress:
      app:
        className: ingress-nginx-ext
        annotations:
          external-dns.alpha.kubernetes.io/target: ingress.${SECRET_DOMAIN}
        hosts:
          - host: hass.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      app-local:
        className: ingress-nginx-int
        hosts:
          - host: hass.p.lan.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      codeserver:
        className: ingress-nginx-int
        hosts:
          - host: hass-vscode.p.lan.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: codeserver
                  port: http
    persistence:
      config:
        existingClaim: "${VOLSYNC_CLAIM}"
        globalMounts:
          - path: /config
      whisper-data:
        existingClaim: whisper-data
        advancedMounts:
          home-assistant:
            whisper:
              - path: /data
      piper-data:
        existingClaim: piper-data
        advancedMounts:
          home-assistant:
            piper:
              - path: /data
      whisper-cache:
        type: emptyDir
        advancedMounts:
          home-assistant:
            whisper:
              - path: /.cache
      logs:
        type: emptyDir
        globalMounts:
          - path: /config/logs
      tts:
        type: emptyDir
        globalMounts:
          - path: /config/tts
      hass-cache:
        existingClaim: hass-cache
        advancedMounts:
          home-assistant:
            app:
              - path: /venv
                subPath: hass-venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /tmp
                subPath: hass-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
