---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname gatus
  namespace: flux-system
spec:
  targetNamespace: monitoring
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 1h
  timeout: 5m
  path: ./kubernetes/darkstar/apps/monitoring/gatus/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: false
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "65534"
      APP_GID: "65534"
      VOLSYNC_CLAIM: gatus-data
      VOLSYNC_CAPACITY: 5Gi
  dependsOn:
    - name: topolvm
    - name: volsync
