---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: grafana-secret
    creationPolicy: Owner
    template:
      data:
        admin-user: "{{ .admin_user }}"
        admin-password: "{{ .admin_pass }}"
  dataFrom:
    - extract:
        key: GRAFANA
