route:
  group_by:
    - alertname
    - job
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 6h
  receiver: "discord"
  routes:
    - receiver: "null"
      matchers:
        - alertname =~ "InfoInhibitor|Watchdog"
    - receiver: "discord"
      continue: true
      matchers:
        - severity = "critical"
inhibit_rules:
  - source_matchers:
      - severity = "critical"
    target_matchers:
      - severity = "warning"
    equal: ["alertname", "namespace"]
receivers:
  - name: "null"
  - name: "discord"
    discord_configs:
      - webhook_url_file: /etc/secrets/alertmanager_discord_url
        send_resolved: true
        # yoinked from JJGadgets who yoinked it from onedr0p, blame them(!) if something doesn't work
        title: >-
          {{ .GroupLabels.alertname }} - {{ .GroupLabels.namespace }}
          {{- if ne .CommonLabels.severity "" }} ({{ .CommonLabels.severity}}){{- end }}
          ({{ .GroupLabels.cluster }})
          [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]
        message: |-
          {{- $root := . }}
          {{- $rm := stringSlice "instance" "kubernetes_node" "endpoint" "prometheus" "service" "cluster" "container" "job" "severity" "alertgroup" }}
          {{- $common := ( ( .CommonLabels.Remove $root.GroupLabels.Names ).Remove $rm ) }}
          {{- if gt (len $common.SortedPairs) 0 }}
          ## Common Labels
          {{- range $common.SortedPairs }}
          > {{ .Name }}: `{{ .Value }}`
          {{- end }}
          {{- end }}
          ## Alerts
          {{- range .Alerts }}
            {{- if ne .Annotations.description "" }}
          - **{{ .Annotations.description }}** [{{ .Fingerprint }}]({{ .GeneratorURL }})
            {{- else if ne .Annotations.summary "" }}
          - **{{ .Annotations.summary }}** [{{ .Fingerprint }}]({{ .GeneratorURL }})
            {{- else if ne .Annotations.message "" }}
          - **{{ .Annotations.message }}** [{{ .Fingerprint }}]({{ .GeneratorURL }})
            {{- else }}
          - **Alert description not available** [{{ .Fingerprint }}]({{ .GeneratorURL }})
            {{- end }}
            {{- $uniq := ( ( .Labels.Remove $root.GroupLabels.Names ).Remove $root.CommonLabels.Names ) }}
            {{- if gt (len $uniq.SortedPairs) 0 }}
              {{- range $uniq.SortedPairs }}
          > {{ .Name }}: `{{ .Value }}`
              {{- end }}
            {{- end }}
          {{- end }}
