---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smartctl-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-smartctl-exporter
      version: 0.10.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community-charts
        namespace: flux-system
  upgrade:
    cleanupOnFail: true
  values:
    fullnameOverride: *app
    config:
      devices:
        - /dev/sda # boot drive
        - /dev/nvme0n1 # data drive
    serviceMonitor:
      enabled: true
    prometheusRules:
      enabled: false
