---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname music-assistant
  namespace: &namespace media
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/keda/nas-nfs-scaler
    - ../../../../components/volsync
  interval: 10m
  path: "./kubernetes/darkstar/apps/media/music-assistant/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
    namespace: flux-system
  wait: true
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CLAIM: music-assistant-config
      VOLSYNC_CAPACITY: 5Gi
  dependsOn:
    - name: topolvm
      namespace: storage
    - name: volsync
      namespace: storage
