---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  interval: 1h
  chart:
    spec:
      chart: keda
      version: 2.19.0
      interval: 1h
      sourceRef:
        kind: HelmRepository
        name: keda-charts
        namespace: flux-system
  values:
    enableServiceLinks: false
