---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-kopia-web
  namespace: flux-system
spec:
  interval: 10m
  path: "./kubernetes/cluster-0/apps/system/kopia-web/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: false
