---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ./alertmanager-secret.sops.yaml
  - ./helm-release.yaml
configMapGenerator:
  - name: alertmanager-configmap
    files:
      - config/alertmanager.yml
generatorOptions:
  disableNameSuffixHash: true
