---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: cilium
spec:
  interval: 30m
  chart:
    spec:
      chart: cilium
      version: 1.15.5
      sourceRef:
        kind: HelmRepository
        name: cilium-charts
        namespace: flux-system
      interval: 30m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
      remediateLastFailure: true
    cleanupOnFail: true
  valuesFrom:
    - kind: ConfigMap
      name: cilium-values
  values:
    hubble:
      dashboards:
        dashboards:
          enabled: true
          annotations:
            grafana_folder: Cilium
      relay:
        prometheus:
          serviceMonitor:
            enabled: true
      serviceMonitor:
        enabled: true
      ui:
        ingress:
          enabled: true
          className: ingress-nginx-int
          hosts:
            - &host "hubble-ui.${SECRET_DOMAIN_PROXY}"
          tls:
            - hosts:
                - *host
    prometheus:
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    operator:
      prometheus:
        serviceMonitor:
          enabled: true
      dashboards:
        enabled: true
        annotations:
          grafana_folder: Cilium
