---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./repo-volsync-minio-secret.yaml
  - ./replication-source-and-destination.yaml
  - ./replication-source.yaml
