---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.0.1/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: mosquitto
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.0.4
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
      interval: 30m
  values:
    controllers:
      mosquitto:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            runAsUser: ${APP_UID}
            runAsGroup: ${APP_GID}
            fsGroup: ${APP_GID}
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/k8s-at-home/eclipse-mosquitto
              tag: v2.0.15
            resources:
              requests:
                cpu: 5m
                memory: 10M
              limits:
                memory: 10M
    service:
      app:
        controller: mosquitto
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVB_LB_MOSQUITO}
        externalTrafficPolicy: Local
        ports:
          mqtt:
            enabled: true
            primary: true
            port: 1883
            protocol: TCP
    persistence:
      data:
        existingClaim: "${VOLSYNC_CLAIM}"
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/data
      config:
        type: configMap
        name: mosquitto-config
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/config/mosquitto.conf
                subPath: mosquitto.conf
