# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
---
sonarr:
  sonarr:
    base_url: http://sonarr.downloads.svc.cluster.local:8989
    api_key: !env_var SONARR_API_KEY

    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    media_naming:
      series: plex
      season: default
      episodes:
        rename: true
        standard: default
        daily: default
        anime: default

    quality_definition:
      type: series

    quality_profiles:
      - name: WEB-DL (1080p)
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: WEB 1080p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
      - name: WEB-DL (2160p)
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: WEB 2160p
          until_score: 10000
        min_format_score: 0
        quality_sort: top
        qualities:
          - name: WEB 2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
          - name: WEB 1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p

    custom_formats:
      # HD
      - trash_ids:
          # HQ Web Source Groups
          - e6258996055b9fbab7e9cb2f75819294 # WEB Tier 01 - 1700
          - 58790d4e2fdcd9733aa7ae68ba2bb503 # WEB Tier 02 - 1650
          - d84935abd3f8556dcd51d4f27e22d0a6 # WEB Tier 03 - 1600
          - d0c516558625b04b363fa6c5c2c7cfd4 # WEB Scene - 1600
          # Misc
          - ec8fa7296b64e8cd390a1600981f3923 # Repack/Proper - 5
          - eb3d5cc0a2be0db205fb823640db6a3c # Repack2 - 6
          - 44e7c4de10ae50265753082e5dc76047 # Repack v3 - 7
          # Streaming Services
          - f67c9ca88f463a48346062e8ad07713f # ATVP - 100
          - 89358767a60cc28783cdc3d0be9388a4 # DSNP - 100
          - 81d1fbf600e2540cee87f3a23f9d3c1c # MAX - 90
          - a880d6abc21e7c16884f3ae393f84179 # HMAX - 90
          - 3ac5d84fce98bab1b531393e9c82f467 # QIBI - 90
          - d660701077794679fd59e8bdf4ce3a29 # AMZN - 70
          - d34870697c9db575f17700212167be23 # NF - 60
          - 1656adc6d7bb2c8cca6acfb6592db421 # PCOK - 60
          - c67a75ae4a1715f2bb4d492755ba4195 # PMTP - 60
          - 1efe8da11bfd74fbbcd4d8117ddb9213 # STAN - 60
          - 77a7b25585c18af08f60b1547bb9b4fb # CC - 50
          - 4e9a630db98d5391aec1368a0256e2fe # CRAV - 50
          - 36b72f59f4ea20aad9316f475f2d9fbb # DCU - 50
          - 7a235133c87f7da4c8cccceca7e3c7a6 # HBO - 50
          - f6cce30f1733d5c8194222a7507909bb # HULU - 50
          - 0ac24a2a68a9700bcb7eeca8e5cd644c # iT - 50
          - b2b980877494b560443631eb1f473867 # NLZ - 50
          - c30d2958827d1867c73318a5a2957eb1 # RED - 50
          - ae58039e1319178e6be73caab5c42166 # SHO - 50
          - 5d2317d99af813b6529c7ebf01c83533 # VDL - 50
          - fb1a91cdc0f26f7ca0696e0e95274645 # OViD - 50
          # Unwanted
          - 85c61753df5da1fb2aab6f2a47426b09 # BR-DISK - -10000
          - 9c11cd3f07101cdba90a2d81cf0e56b4 # LQ - -10000
          - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD) - -10000
          - fbcb31d8dabd2a319072b84fc0b7249c # Extras - -10000
        quality_profiles:
          - name: WEB-DL (1080p)

      # UHD
      - trash_ids:
          # HDR Formats
          - 2b239ed870daba8126a53bd5dc8dc1c8 # DV HDR10+ - 1500
          - 7878c33f1963fefb3d6c8657d46c2f0a # DV HDR10 - 1500
          - 6d0d8de7b57e35518ac0308b0ddf404e # DV - 1500
          - 1f733af03141f068a540eec352589a89 # DV HLG - 1500
          - 27954b0a80aab882522a88a4d9eae1cd # DV SDR - 1500
          - a3d82cbef5039f8d295478d28a887159 # HDR10+ - 600
          - 3497799d29a085e2ac2df9d468413c94 # HDR10 - 500
          - 3e2c4e748b64a1a1118e0ea3f4cf6875 # HDR - 500
          - bb019e1cd00f304f80971c965de064dc # HDR (undefined) - 500
          - 2a7e3be05d3861d6df7171ec74cad727 # PQ - 500
          - 17e889ce13117940092308f48b48b45b # HLG - 500
          - 9b27ab6498ec0f31a3353992e19434ca # DV (WEBDL) - -10000
          # HQ Web Source Groups
          - e6258996055b9fbab7e9cb2f75819294 # WEB Tier 01 - 1700
          - 58790d4e2fdcd9733aa7ae68ba2bb503 # WEB Tier 02 - 1650
          - d84935abd3f8556dcd51d4f27e22d0a6 # WEB Tier 03 - 1600
          - d0c516558625b04b363fa6c5c2c7cfd4 # WEB Scene - 1600
          # Release Version
          - ec8fa7296b64e8cd390a1600981f3923 # Repack/Proper - 5
          - eb3d5cc0a2be0db205fb823640db6a3c # Repack2 - 6
          - 44e7c4de10ae50265753082e5dc76047 # Repack v3 - 7
          # Streaming Services
          - f67c9ca88f463a48346062e8ad07713f # ATVP - 100
          - 89358767a60cc28783cdc3d0be9388a4 # DSNP - 100
          - 81d1fbf600e2540cee87f3a23f9d3c1c # MAX - 90
          - a880d6abc21e7c16884f3ae393f84179 # HMAX - 90
          - 3ac5d84fce98bab1b531393e9c82f467 # QIBI - 90
          - d660701077794679fd59e8bdf4ce3a29 # AMZN - 70
          - d34870697c9db575f17700212167be23 # NF - 60
          - 1656adc6d7bb2c8cca6acfb6592db421 # PCOK - 60
          - c67a75ae4a1715f2bb4d492755ba4195 # PMTP - 60
          - 1efe8da11bfd74fbbcd4d8117ddb9213 # STAN - 60
          - 77a7b25585c18af08f60b1547bb9b4fb # CC - 50
          - 4e9a630db98d5391aec1368a0256e2fe # CRAV - 50
          - 36b72f59f4ea20aad9316f475f2d9fbb # DCU - 50
          - 7a235133c87f7da4c8cccceca7e3c7a6 # HBO - 50
          - f6cce30f1733d5c8194222a7507909bb # HULU - 50
          - dc503e2425126fa1d0a9ad6168c83b3f # IP - 50
          - 0ac24a2a68a9700bcb7eeca8e5cd644c # iT - 50
          - b2b980877494b560443631eb1f473867 # NLZ - 50
          - c30d2958827d1867c73318a5a2957eb1 # RED - 50
          - ae58039e1319178e6be73caab5c42166 # SHO - 50
          - 5d2317d99af813b6529c7ebf01c83533 # VDL - 50
          - fb1a91cdc0f26f7ca0696e0e95274645 # OViD - 50
          - 7be9c0572d8cd4f81785dacf7e85985e # FOD - 50
          - d100ea972d1af2150b65b1cffb80f6b5 # TVer - 50
          - 0e99e7cc719a8a73b2668c3a0c3fe10c # U-NEXT - 50
          - fcc09418f67ccaddcf3b641a22c5cfd7 # ALL4 - 50
          - bbcaf03147de0f73be2be4a9078dfa03 # 4OD - 50
          - 43b3cf48cb385cd3eac608ee6bca7f09 # UHD Streaming Boost - 20
          - d2d299244a92b8a52d4921ce3897a256 # UHD Streaming Cut - -20
          # Optional
          - 2016d1676f5ee13a5b7257ff86ac9a93 # SDR - -10000
          # Unwanted
          - 85c61753df5da1fb2aab6f2a47426b09 # BR-DISK - -10000
          - 9c11cd3f07101cdba90a2d81cf0e56b4 # LQ - -10000
          - e2315f990da2e2cbfc9fa5b7a6fcfe48 # LQ (Release Title) - -10000
          - 47435ece6b99a0b477caf360e79ba0bb # x265 (HD) - -10000
          - fbcb31d8dabd2a319072b84fc0b7249c # Extras - -10000
        quality_profiles:
          - name: WEB-DL (2160p)

radarr:
  radarr:
    base_url: http://radarr.downloads.svc.cluster.local:7878
    api_key: !env_var RADARR_API_KEY

    delete_old_custom_formats: true
    replace_existing_custom_formats: true

    media_naming:
      folder: plex
      movie:
        rename: true
        standard: default

    # Quality Definition
    # >> Only one set of Quality Definitions can be used per instance <<
    quality_definition:
      type: sqp-uhd

    # Quality Profiles
    quality_profiles:
      - name: SQP-1 (1080p)
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: Bluray|WEB-1080p
          until_score: 10000
        min_format_score: 1000
        score_set: sqp-1-1080p
        quality_sort: top
        qualities:
          - name: Bluray|WEB-1080p
            qualities:
              - Bluray-1080p
              - WEBDL-1080p
              - WEBRip-1080p
      - name: SQP-2
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: WEB|Remux|Bluray|2160p
          until_score: 10000
        min_format_score: 550
        score_set: sqp-2
        quality_sort: top
        qualities:
          - name: WEB|Remux|Bluray|2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
              - Bluray-2160p
              - Remux-2160p
          - name: WEBDL-1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
              - Remux-1080p
      - name: SQP-3
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: WEB|Remux|2160p
          until_score: 10000
        min_format_score: 550
        score_set: sqp-3
        quality_sort: top
        qualities:
          - name: WEB|Remux|2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
              - Remux-2160p
          - name: WEBDL-1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
              - Remux-1080p
      - name: SQP-5
        reset_unmatched_scores:
          enabled: true
        upgrade:
          allowed: true
          until_quality: WEB|Bluray|2160p
          until_score: 10000
        min_format_score: 550
        score_set: sqp-5
        quality_sort: top
        qualities:
          - name: WEB|Bluray|2160p
            qualities:
              - WEBDL-2160p
              - WEBRip-2160p
              - Bluray-2160p
          - name: WEBDL-1080p
            qualities:
              - WEBDL-1080p
              - WEBRip-1080p
              - Remux-1080p

    custom_formats:
      - trash_ids:
          # Movie Versions
          - 570bc9ebecd92723d2d21500f4be314c # Remaster - 25
          - eca37840c13c6ef2dd0262b141a5482f # 4K Remaster - 25
          - e0c07d59beb37348e975a930d5e50319 # Criterion Collection - 25
          - 9d27d9d2181838f76dee150882bdc58c # Masters of Cinema - 25
          - db9b4c4b53d312a3ca5f1378f6440fc9 # Vinegar Syndrome - 25
          - 957d0f44b592285f26449575e8b1167e # Special Edition - 125
          # HQ Release Groups
          - c20f169ef63c5f40c2def54abaf4438e # WEB Tier 01 - 1700
          - 403816d65392c79236dcb6dd591aeda4 # WEB Tier 02 - 1650
          - af94e0fe497124d1f9ce732069ec8c3b # WEB Tier 03 - 1600
          # Misc
          - e7718d7a3ce595f289bfee26adc178f5 # Repack/Proper - 5
          - ae43b294509409a6a13919dedd4764c4 # Repack2 - 6
          # Unwanted
          - ed38b889b31be83fda192888e2286d83 # BR-DISK - -10000
          - 90a6f9a284dff5103f6346090e6280c8 # LQ - -10000
          - e204b80c87be9497a8a6eaff48f72905 # LQ (Release Title) - -10000
          - b8cd450cbfa689c0259a01d9e29ba3d6 # 3D - -10000
          - bfd8eb01832d646a0a89c4deb46f8564 # Upscaled
          - 0a3f082873eb454bde444150b70253cc # Extras
          # Optional
          - b6832f586342ef70d9c128d40c07b872 # Bad Dual Groups - -10000
          - 923b6abef9b17f937fab56cfcf89e1f1 # DV (WEBDL) - -10000
          - 90cedc1fea7ea5d11298bebd3d1d3223 # EVO (no WEBDL) - -10000
          - ae9b7c9ebde1f3bd336a8cbd1ec4c5e5 # No-RlsGroup - -10000
          - 7357cf5161efbf8c4d5d0c30b4815ee2 # Obfuscated - -10000
          - 5c44f52a8714fdd79bb4d98e2673be1f # Retags - -10000
          # Streaming Services
          - b3b3a6ac74ecbd56bcdbefa4799fb9df # AMZN - 0
          - 40e9380490e748672c2522eaaeb692f7 # ATVP - 0
          - cc5e51a9e85a6296ceefe097a77f12f4 # BCORE - 15
          - f6ff65b3f4b464a79dcc75950fe20382 # CRAV - 0
          - 16622a6911d1ab5d5b8b713d5b0036d4 # CRiT - 20
          - 84272245b2988854bfb76a16e60baea5 # DSNP - 0
          - 917d1f2c845b2b466036b0cc2d7c72a3 # FOD - 0
          - 509e5f41146e278f9eab1ddaceb34515 # HBO - 0
          - 5763d1b0ce84aff3b21038eea8e9b8ad # HMAX - 0
          - 526d445d4c16214309f0fd2b3be18a89 # Hulu - 0
          - 6185878161f1e2eef9cd0641a0d09eae # IP - 0
          - 2a6039655313bf5dab1e43523b62c374 # MA - 20
          - 6a061313d22e51e0f25b7cd4dc065233 # MAX - 0
          - 170b1d363bd8516fbf3a3eb05d4faff6 # NF - 0
          - fbca986396c5e695ef7b2def3c755d01 # OViD - 0
          - bf7e73dd1d85b12cc527dc619761c840 # Pathe - 0
          - c9fd353f8f5f1baf56dc601c4cb29920 # PCOK - 0
          - e36a0ba1bc902b26ee40818a1d59b8bd # PMTP - 0
          - c2863d2a50c9acad1fb50e53ece60817 # STAN - 0
          - f1b0bae9bc222dab32c1b38b5a7a1088 # TVer - 0
          - 279bda7434fd9075786de274e6c3c202 # U-NEXT - 0
        quality_profiles:
          - name: SQP-1 (1080p)
          - name: SQP-2
          - name: SQP-3
          - name: SQP-5

      # Movie version (all but SQP-1)
      - trash_ids:
          - 0f12c086e289cf966fa5948eac571f44 # Hybrid - 100
          - eecf3a857724171f968a66cb5719e152 # IMAX - 800
          - 9f6cbff8cfe4ebbc1bde14c7b7bec0de # IMAX Enhanced - 800
        quality_profiles:
          - name: SQP-2
          - name: SQP-3
          - name: SQP-5

      # All HDR Formats
      - trash_ids:
          - c53085ddbd027d9624b320627748612f # DV HDR10Plus - 1600
          - e23edd2482476e595fb990b12e7c609c # DV HDR10 - 1500
          - 58d6a88f13e2db7f5059c41047876f00 # DV - 1500
          - 55d53828b9d81cbe20b02efd00aa0efd # DV HLG - 1500
          - a3e19f8f627608af0211acd02bf89735 # DV SDR - 1500
          - b974a6cd08c1066250f1f177d7aa1225 # HDR10+ - 600
          - dfb86d5941bc9075d6af23b09c2aeecd # HDR10 - 500
          - e61e28db95d22bedcadf030b8f156d96 # HDR - 500
          - 2a4d9069cc1fe3242ff9bdaebed239bb # HDR (undefined) - 500
          - 08d6d8834ad9ec87b1dc7ec8148e7a1f # PQ - 500
          - 9364dd386c9b4a1100dde8264690add7 # HLG - 500
        quality_profiles:
          - name: SQP-2
          - name: SQP-3
          - name: SQP-5

      # Resolution
      - trash_ids:
          - 820b09bb9acbfde9c35c71e0e565dad8 # 1080p - 50
          - fb392fb0d61a010ae38e49ceaa24a1ef # 2160p
        quality_profiles:
          - name: SQP-2
          - name: SQP-3
          - name: SQP-5
      - trash_ids:
          - 820b09bb9acbfde9c35c71e0e565dad8 # 1080p - 50
          - b2be17d608fc88818940cd1833b0b24c # 720p
        quality_profiles:
          - name: SQP-1 (1080p)

      # HQ Release Groups
      - trash_ids:
          - 5153ec7413d9dae44e24275589b5e944 # BHDStudio - 1000
          - ed27ebfef2f323e964fb1f61391bcb35 # HD Bluray Tier 01 - 1100
          - c20c8647f2746a1f4c4262b0fbbeeeae # HD Bluray Tier 02 - 1050
          - 5608c71bcebba0a5e666223bae8c9227 # HD Bluray Tier 03 - 1000
        quality_profiles:
          - name: SQP-1 (1080p)
      - trash_ids:
          - 4d74ac4c4db0b64bff6ce0cffef99bf0 # UHD Bluray Tier 01 - 2300
          - a58f517a70193f8e578056642178419d # UHD Bluray Tier 02 - 2200
          - e71939fae578037e7aed3ee219bbe7c1 # UHD Bluray Tier 03 - 2100
        quality_profiles:
          - name: SQP-2
          - name: SQP-5
      - trash_ids:
          - 3a3ff47579026e76d6504ebea39390de # Remux Tier 01 - 1950
          - 9f98181fe5a3fbeb0cc29340da2a468a # Remux Tier 02 - 1900
          - 8baaf0b3142bf4d94c42a724f034e27a # Remux Tier 03 - 1850
        quality_profiles:
          - name: SQP-2
          - name: SQP-3

      - trash_ids:
          # Unwanted
          - 839bea857ed2c0a8e084f3cbdbd65ecb # x265 (no HDR/DV) - -10000
          # Optional
          - 9c38ebb7384dada637be8899efa68e6f # SDR
        quality_profiles:
          - name: SQP-2
          - name: SQP-3
          - name: SQP-5

      - trash_ids:
          # Unwanted
          - dc98083864ea246d05a42df0d05f81cc # x265(HD)
        quality_profiles:
          - name: SQP-1 (1080p)
