# yaml-language-server: $schema=https://raw.githubusercontent.com/recyclarr/recyclarr/master/schemas/config-schema.json
---
sonarr:
  sonarr:
    base_url: http://sonarr.downloads.svc.cluster.local:8989
    api_key: !env_var SONARR_API_KEY

    delete_old_custom_formats: true

    media_naming:
      series: plex-tvdb
      season: default
      episodes:
        rename: true
        standard: default
        daily: default
        anime: default
    quality_definition:
      type: series
    quality_profiles:
      - trash_id: 72dae194fc92bf828f32cde7744e51a1 # WEB-1080p
        reset_unmatched_scores:
          enabled: true
      - trash_id: d1498e7d189fbe6c7110ceaabb7473e6 # WEB-2160p
        reset_unmatched_scores:
          enabled: true
      - trash_id: c4cadd6b35b95f62c3d47a408e53e2f7 # WEB-2160p (Combined)
        reset_unmatched_scores:
          enabled: true
    custom_format_groups:
      add:
        - trash_id: e0b2774083df4265f25c9e5bc6c80940 # [HDR Formats] DV Boost
        - trash_id: ddab3095a5d2f436f369263840af34f9 # [Streaming Services] UK
        - trash_id: f4a0410a1df109a66d6e47dcadcce014 # [Optional] Miscellaneous

radarr:
  radarr:
    base_url: http://radarr.downloads.svc.cluster.local:7878
    api_key: !env_var RADARR_API_KEY

    delete_old_custom_formats: true

    media_naming:
      folder: default
      movie:
        rename: true
        standard: plex-imdb

    quality_definition:
      type: sqp-uhd

    quality_profiles:
      - trash_id: c3933358ba2356bafc41524f81471069 # [SQP] SQP-2
        reset_unmatched_scores:
          enabled: true

    custom_format_groups:
      add:
        - trash_id: 1616617ab3a14397a2b2321bcbda44d1 # [HDR Formats] DV Boost
        - trash_id: c4492eebd0c2ddc14c2c91623aa7f95d # [Optional] Miscellaneous SQP
        - trash_id: f4f1474b963b24cf983455743aa9906c # [Optional] Movie Versions
        - trash_id: 9fc645b3cef52b149ec13ba3972245d1 # [Streaming Services] Miscellaneous
        - trash_id: f737e18b5824d6ebb2d57b957ae2fd6c # [Streaming Services] UK

    custom_formats:
      # Studios
      - trash_ids:
          - 5153ec7413d9dae44e24275589b5e944 # bhdstudio - downgrade
        assign_scores_to:
          - name: "[SQP] SQP-2"
            score: -10000

      # Not bothered about which positional audio format is used - remove these if that changes
      - trash_ids:
          - 496f355514737f7d83bf7aa4d24f8169 # TrueHD Atmos
          - 417804f7f2c4308c1f4c5d380d4c4475 # Atmos (undefined)
          - 1af239278386be2919e1bcee0bde047e # DD+Atmos
          - 2f22d89048b01681dde8afe203bf2e95 # DTS-X
        assign_scores_to:
          - name: "[SQP] SQP-2"
            score: 5000
