---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: actions-runner-controller
spec:
  refreshInterval: 12h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: k8s-home-ops-runner-secret
    creationPolicy: Owner
    template:
      data:
        github_app_id: "{{ .app_id }}"
        github_app_installation_id: "{{ .app_installation_id }}"
        github_app_private_key: "{{ .app_private_key }}"
  dataFrom:
    - extract:
        key: GITHUB
