---
apiVersion: v1
kind: Service
metadata:
  name: &app sabnzbd
  labels:
    app.kubernetes.io/instance: *app
spec:
  type: ExternalName
  externalName: apollo.lan.${SECRET_DOMAIN}
  ports:
    - name: http
      port: &port 8080
      protocol: TCP
      targetPort: *port
