---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname bichon
  namespace: &namespace default
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/volsync
  interval: 1h
  path: "./kubernetes/darkstar/apps/default/bichon/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
    namespace: flux-system
  wait: false
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CLAIM: bichon-data
      VOLSYNC_CAPACITY: 20Gi
  dependsOn:
    - name: topolvm
      namespace: storage
    - name: volsync
      namespace: storage
