---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: doppler
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler
  target:
    name: doppler-token
  data:
    - secretKey: eso_doppler_service_token
      remoteRef:
        key: ESO_DOPPLER_SERVICE_TOKEN
