---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname mosquitto
  namespace: flux-system
spec:
  targetNamespace: home-automation
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/darkstar/apps/home-automation/mosquitto/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: true
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CLAIM: mosquitto-data
  dependsOn:
    - name: topolvm
    - name: volsync
