---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lvm-exporter
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  upgrade:
    cleanupOnFail: true
  values:
    controllers:
      lvm-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/drae/lvm-exporter
              tag: v0.6.2@sha256:8a9997263619f746e068a60559316e3c78a9fb9ea086349487eeccc296aee921
            securityContext:
              privileged: true
    service:
      app:
        controller: lvm-exporter
        ports:
          http:
            port: 9845
    serviceMonitor:
      app:
        serviceName: lvm-exporter
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
