apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
spec:
  selfSigned: {}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: selfsigned-starstreak-net
  namespace: cert-manager
spec:
  # this is discouraged but required by ios
  commonName: selfsigned-starstreak-net
  secretName: selfsigned-starstreak-net-secret
  isCA: true
  issuerRef:
    name: selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
  privateKey:
    algorithm: RSA
    encoding: PKCS8
    size: 2048
  subject:
    organizations:
      - starstreak.net
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-starstreak-net
spec:
  ca:
    secretName: selfsigned-starstreak-net-secret
