---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./fstrim/ks.yaml
  - ./intel-device-plugins/ks.yaml
  - ./node-feature-discovery/ks.yaml
  - ./reloader/ks.yaml
