---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname esphome
  namespace: flux-system
spec:
  targetNamespace: home-automation
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  interval: 10m
  path: "./kubernetes/darkstar/apps/home-automation/esphome/app"
  prune: false #TODO: revert to false
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: false # no flux ks dependents
  postBuild:
    substitute:
      APP: *appname
      APP_UID: "568"
      APP_GID: "568"
      VOLSYNC_CLAIM: esphome-config
      VOLSYNC_CAPACITY: 5Gi
  dependsOn:
    - name: topolvm
    - name: volsync
