---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname stirling-pdf
  namespace: flux-system
spec:
  targetNamespace: default
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  path: ./kubernetes/darkstar/apps/default/stirling-pdf/app
  prune: false #TODO: revert to false
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
