---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns-cloudflare
spec:
  interval: 1h
  chart:
    spec:
      chart: external-dns
      version: 1.16.1
      sourceRef:
        kind: HelmRepository
        name: kubernetes-sigs-external-dns-charts
        namespace: flux-system
      interval: 1h
  values:
    domainFilters:
      - starstreak.net
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare-dns-secret
            key: cf_token
    extraArgs:
      - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
      - --crd-source-kind=DNSEndpoint
      - --cloudflare-proxied
      - --gateway-label-filter=gateway==external
    fullnameOverride: &name external-dns-cloudflare
    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-secret
    policy: sync
    provider: cloudflare
    serviceMonitor:
      enabled: true
    sources:
      - gateway-httproute
      - crd
    txtOwnerId: default
    txtPrefix: k8s.
