receivers:
  - name: "null"
  - name: "discord"
    discord_configs:
      - webhook_url: "${ALERTMANAGER_DISCORD_WEBHOOK}"
        send_resolved: true
        #title: |-
        #  [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ if ne .CommonAnnotations.summary ""}}{{ .CommonAnnotations.summary }} {{ else if ne .CommonAnnotations.message ""}}{{ .CommonAnnotations.message }} {{ else if ne .CommonAnnotations.description ""}}{{ .CommonAnnotations.description }} {{ else }}{{ .CommonLabels.alertname }}{{ end }}
        title: >-
          {{ .CommonLabels.alertname }}
          [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]
        message: |-
          {{- range .Alerts }}
            {{- if ne .Annotations.description "" }}
              {{ .Annotations.description }}
            {{- else if ne .Annotations.summary "" }}
              {{ .Annotations.summary }}
            {{- else if ne .Annotations.message "" }}
              {{ .Annotations.message }}
            {{- else }}
              Alert description not available
              {{- if gt (len .Labels.SortedPairs) 0 }}
                <small>
                {{- range .Labels.SortedPairs }}
                  <b>{{ .Name }}:</b> {{ .Value }}
                {{- end }}
                </small>
              {{- end }}
            {{- end }}
          {{- end }}
          {{ .ExternalURL }}

route:
  group_by: ["alertname", "job"]
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 6h
  receiver: "discord"
  routes:
    - receiver: "null"
      matchers:
        - alertname =~ "InfoInhibitor|Watchdog"
    - receiver: "discord"
      continue: true
      matchers:
        - severity = "critical"
inhibit_rules:
  - source_matchers:
      - severity = "critical"
    target_matchers:
      - severity = "warning"
    equal: ["alertname", "namespace"]
