---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &appname matter-server
  namespace: &namespace home-automation
spec:
  targetNamespace: *namespace
  commonMetadata:
    labels:
      app.kubernetes.io/name: *appname
  components:
    - ../../../../components/volsync
  interval: 10m
  path: "./kubernetes/darkstar/apps/home-automation/matter-server/app"
  prune: true
  sourceRef:
    kind: GitRepository
    name: k8s-home-ops
    namespace: flux-system
  wait: false # no flux ks dependents
  postBuild:
    substitute:
      APP: *appname
      VOLSYNC_CLAIM: matter-server-config
  dependsOn:
    - name: topolvm
      namespace: storage
    - name: volsync
      namespace: storage
